*{
    margin:0;
    padding:0;
 }

html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
}
body{
    background-color : MintCream  ;
}


#left {
    width: 150px;
	height: 100%;
    position: fixed;
    outline: 1px solid;
    background-color: #f1f1f1;
	
	overflow: auto;
	float: left;
	
}
#right {
    margin: 0 0 0 150px;
	
}

h1 {
    background-color:CornflowerBlue;
    color:white;
    text-align:center;
    padding:5px;	 
}

a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


a:hover {
    background-color: #555;
    color: white;
}

table{
    border-collapse:collapse;
    border: 1px solid #ddd;
    margin-bottom : 10px;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.invalid-error-value, .failed-test-row {
    color:red;
    background-color: lightgray;
}

.valid-error-value, .successful-test-row {
    color:navy;
    background-color: azure;
}

.not-performed-test-row {
    color:maroon;
    background-color: aliceblue;
}
